ConsumeServicio/Connected Services/WservicioBDD/WebServiceBDD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WSselect_Usuario">
        <s:complexType />
      </s:element>
      <s:element name="WSselect_UsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSselect_UsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSValidar_Usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="contrasena" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSValidar_UsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSValidar_UsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscar_Usuario_ID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscar_Usuario_IDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBuscar_Usuario_IDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscar_Usuario_ID_Nombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscar_Usuario_ID_NombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBuscar_Usuario_ID_NombreResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsert_Usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_clinica" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_nac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dpi" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="no_telelefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="contrasena" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsert_UsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSinsert_UsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualizar_Usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_usuario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_clinica" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_nac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dpi" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="no_telelefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="contrasena" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualizar_UsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSselect_Clinica">
        <s:complexType />
      </s:element>
      <s:element name="WSselect_ClinicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSselect_ClinicaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsert_Clinica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_clinica" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_clinica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="no_telelefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsert_ClinicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSinsert_ClinicaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBorrar_Clinica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_clinica" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBorrar_ClinicaResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSActualizar_Clinica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_clinica" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_clinica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="no_telelefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSActualizar_ClinicaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSselect_UsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:WSselect_Usuario" />
  </wsdl:message>
  <wsdl:message name="WSselect_UsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:WSselect_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="WSValidar_UsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:WSValidar_Usuario" />
  </wsdl:message>
  <wsdl:message name="WSValidar_UsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:WSValidar_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="WSBuscar_Usuario_IDSoapIn">
    <wsdl:part name="parameters" element="tns:WSBuscar_Usuario_ID" />
  </wsdl:message>
  <wsdl:message name="WSBuscar_Usuario_IDSoapOut">
    <wsdl:part name="parameters" element="tns:WSBuscar_Usuario_IDResponse" />
  </wsdl:message>
  <wsdl:message name="WSBuscar_Usuario_ID_NombreSoapIn">
    <wsdl:part name="parameters" element="tns:WSBuscar_Usuario_ID_Nombre" />
  </wsdl:message>
  <wsdl:message name="WSBuscar_Usuario_ID_NombreSoapOut">
    <wsdl:part name="parameters" element="tns:WSBuscar_Usuario_ID_NombreResponse" />
  </wsdl:message>
  <wsdl:message name="WSinsert_UsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:WSinsert_Usuario" />
  </wsdl:message>
  <wsdl:message name="WSinsert_UsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:WSinsert_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="Actualizar_UsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:Actualizar_Usuario" />
  </wsdl:message>
  <wsdl:message name="Actualizar_UsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:Actualizar_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="WSselect_ClinicaSoapIn">
    <wsdl:part name="parameters" element="tns:WSselect_Clinica" />
  </wsdl:message>
  <wsdl:message name="WSselect_ClinicaSoapOut">
    <wsdl:part name="parameters" element="tns:WSselect_ClinicaResponse" />
  </wsdl:message>
  <wsdl:message name="WSinsert_ClinicaSoapIn">
    <wsdl:part name="parameters" element="tns:WSinsert_Clinica" />
  </wsdl:message>
  <wsdl:message name="WSinsert_ClinicaSoapOut">
    <wsdl:part name="parameters" element="tns:WSinsert_ClinicaResponse" />
  </wsdl:message>
  <wsdl:message name="WSBorrar_ClinicaSoapIn">
    <wsdl:part name="parameters" element="tns:WSBorrar_Clinica" />
  </wsdl:message>
  <wsdl:message name="WSBorrar_ClinicaSoapOut">
    <wsdl:part name="parameters" element="tns:WSBorrar_ClinicaResponse" />
  </wsdl:message>
  <wsdl:message name="WSActualizar_ClinicaSoapIn">
    <wsdl:part name="parameters" element="tns:WSActualizar_Clinica" />
  </wsdl:message>
  <wsdl:message name="WSActualizar_ClinicaSoapOut">
    <wsdl:part name="parameters" element="tns:WSActualizar_ClinicaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceBDDSoap">
    <wsdl:operation name="WSselect_Usuario">
      <wsdl:input message="tns:WSselect_UsuarioSoapIn" />
      <wsdl:output message="tns:WSselect_UsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSValidar_Usuario">
      <wsdl:input message="tns:WSValidar_UsuarioSoapIn" />
      <wsdl:output message="tns:WSValidar_UsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Usuario_ID">
      <wsdl:input message="tns:WSBuscar_Usuario_IDSoapIn" />
      <wsdl:output message="tns:WSBuscar_Usuario_IDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Usuario_ID_Nombre">
      <wsdl:input message="tns:WSBuscar_Usuario_ID_NombreSoapIn" />
      <wsdl:output message="tns:WSBuscar_Usuario_ID_NombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSinsert_Usuario">
      <wsdl:input message="tns:WSinsert_UsuarioSoapIn" />
      <wsdl:output message="tns:WSinsert_UsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Usuario">
      <wsdl:input message="tns:Actualizar_UsuarioSoapIn" />
      <wsdl:output message="tns:Actualizar_UsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSselect_Clinica">
      <wsdl:input message="tns:WSselect_ClinicaSoapIn" />
      <wsdl:output message="tns:WSselect_ClinicaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSinsert_Clinica">
      <wsdl:input message="tns:WSinsert_ClinicaSoapIn" />
      <wsdl:output message="tns:WSinsert_ClinicaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBorrar_Clinica">
      <wsdl:input message="tns:WSBorrar_ClinicaSoapIn" />
      <wsdl:output message="tns:WSBorrar_ClinicaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSActualizar_Clinica">
      <wsdl:input message="tns:WSActualizar_ClinicaSoapIn" />
      <wsdl:output message="tns:WSActualizar_ClinicaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceBDDSoap" type="tns:WebServiceBDDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSselect_Usuario">
      <soap:operation soapAction="http://tempuri.org/WSselect_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSValidar_Usuario">
      <soap:operation soapAction="http://tempuri.org/WSValidar_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Usuario_ID">
      <soap:operation soapAction="http://tempuri.org/WSBuscar_Usuario_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Usuario_ID_Nombre">
      <soap:operation soapAction="http://tempuri.org/WSBuscar_Usuario_ID_Nombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsert_Usuario">
      <soap:operation soapAction="http://tempuri.org/WSinsert_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Usuario">
      <soap:operation soapAction="http://tempuri.org/Actualizar_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSselect_Clinica">
      <soap:operation soapAction="http://tempuri.org/WSselect_Clinica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsert_Clinica">
      <soap:operation soapAction="http://tempuri.org/WSinsert_Clinica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBorrar_Clinica">
      <soap:operation soapAction="http://tempuri.org/WSBorrar_Clinica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSActualizar_Clinica">
      <soap:operation soapAction="http://tempuri.org/WSActualizar_Clinica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceBDDSoap12" type="tns:WebServiceBDDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSselect_Usuario">
      <soap12:operation soapAction="http://tempuri.org/WSselect_Usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSValidar_Usuario">
      <soap12:operation soapAction="http://tempuri.org/WSValidar_Usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Usuario_ID">
      <soap12:operation soapAction="http://tempuri.org/WSBuscar_Usuario_ID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Usuario_ID_Nombre">
      <soap12:operation soapAction="http://tempuri.org/WSBuscar_Usuario_ID_Nombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsert_Usuario">
      <soap12:operation soapAction="http://tempuri.org/WSinsert_Usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Usuario">
      <soap12:operation soapAction="http://tempuri.org/Actualizar_Usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSselect_Clinica">
      <soap12:operation soapAction="http://tempuri.org/WSselect_Clinica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsert_Clinica">
      <soap12:operation soapAction="http://tempuri.org/WSinsert_Clinica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBorrar_Clinica">
      <soap12:operation soapAction="http://tempuri.org/WSBorrar_Clinica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSActualizar_Clinica">
      <soap12:operation soapAction="http://tempuri.org/WSActualizar_Clinica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceBDD">
    <wsdl:port name="WebServiceBDDSoap" binding="tns:WebServiceBDDSoap">
      <soap:address location="https://localhost:44314/WebServiceBDD.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceBDDSoap12" binding="tns:WebServiceBDDSoap12">
      <soap12:address location="https://localhost:44314/WebServiceBDD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>