ConsumeServicio/Connected Services/WservicioBDD/WebServiceBDD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WSselect_Usuario">
        <s:complexType />
      </s:element>
      <s:element name="WSselect_UsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSselect_UsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSValidar_Usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="contrasena" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSValidar_UsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSValidar_UsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscar_Usuario_ID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscar_Usuario_IDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBuscar_Usuario_IDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscar_Usuario_ID_Nombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscar_Usuario_ID_NombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBuscar_Usuario_ID_NombreResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsert_Usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_clinica" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_nac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dpi" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="no_telelefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="contrasena" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsert_UsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSinsert_UsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualizar_Usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_usuario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_clinica" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_nac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dpi" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="no_telelefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="contrasena" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualizar_UsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSBorrarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_usuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBorrarUsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSselect_Clinica">
        <s:complexType />
      </s:element>
      <s:element name="WSselect_ClinicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSselect_ClinicaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsert_Clinica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_clinica" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_clinica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="no_telelefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsert_ClinicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSinsert_ClinicaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBorrar_Clinica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_clinica" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBorrar_ClinicaResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSActualizar_Clinica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_clinica" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_clinica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="no_telelefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSActualizar_ClinicaResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSBuscar_Clinica_ID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscar_Clinica_IDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBuscar_Clinica_IDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscar_Clinica_ID_Nombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscar_Clinica_ID_NombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBuscar_Clinica_ID_NombreResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSselectEmpleado">
        <s:complexType />
      </s:element>
      <s:element name="WSselectEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSselectEmpleadoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsertEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_clinica" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_empleado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_empleado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dpi" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="no_telelefono" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsertEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSinsertEmpleadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBorrarEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_empleados" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBorrarEmpleadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSActualizarEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_empleados" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_clinica" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_empleado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_empleado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dpi" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="no_telelefono" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSActualizarEmpleadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSBuscar_Empleado_ID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscar_Empleado_IDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBuscar_Empleado_IDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscar_Empleado_ID_Nombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscar_Empleado_ID_NombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBuscar_Empleado_ID_NombreResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSselectPaciente">
        <s:complexType />
      </s:element>
      <s:element name="WSselectPacienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSselectPacienteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsertPaciente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_paciente" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_paciente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_paciente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="familiar_responsable" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_nac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_sangre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="enferm_preexitente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dpi" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="no_telelefono" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsertPacienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSinsertPacienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSselectMedicamento">
        <s:complexType />
      </s:element>
      <s:element name="WSselectMedicamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSselectMedicamentoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsertMedicamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_medicamento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="precio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dosis" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="presentacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsertMedicamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSinsertMedicamentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSselectEnfermedad">
        <s:complexType />
      </s:element>
      <s:element name="WSselectEnfermedadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSselectEnfermedadResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsertEnfermedad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_enfermedad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_enfermedad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_enfermedad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nivel_contagio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsertEnfermedadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSinsertEnfermedadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsertAgendarCita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_reg_cita" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id_paciente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id_clinica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario_creador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="costo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="no_consultorio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="forma_pago" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsertAgendarCitaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSinsertAgendarCitaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscarCita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscarCitaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBuscarCitaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSTerminarConsulta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_reg_consul" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id_paciente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_creacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id_medicamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id_enfermedad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="medico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diagnostico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="medicamentos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estudios" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario_creador" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSTerminarConsultaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSTerminarConsultaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSselect_UsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:WSselect_Usuario" />
  </wsdl:message>
  <wsdl:message name="WSselect_UsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:WSselect_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="WSValidar_UsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:WSValidar_Usuario" />
  </wsdl:message>
  <wsdl:message name="WSValidar_UsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:WSValidar_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="WSBuscar_Usuario_IDSoapIn">
    <wsdl:part name="parameters" element="tns:WSBuscar_Usuario_ID" />
  </wsdl:message>
  <wsdl:message name="WSBuscar_Usuario_IDSoapOut">
    <wsdl:part name="parameters" element="tns:WSBuscar_Usuario_IDResponse" />
  </wsdl:message>
  <wsdl:message name="WSBuscar_Usuario_ID_NombreSoapIn">
    <wsdl:part name="parameters" element="tns:WSBuscar_Usuario_ID_Nombre" />
  </wsdl:message>
  <wsdl:message name="WSBuscar_Usuario_ID_NombreSoapOut">
    <wsdl:part name="parameters" element="tns:WSBuscar_Usuario_ID_NombreResponse" />
  </wsdl:message>
  <wsdl:message name="WSinsert_UsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:WSinsert_Usuario" />
  </wsdl:message>
  <wsdl:message name="WSinsert_UsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:WSinsert_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="Actualizar_UsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:Actualizar_Usuario" />
  </wsdl:message>
  <wsdl:message name="Actualizar_UsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:Actualizar_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="WSBorrarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:WSBorrarUsuario" />
  </wsdl:message>
  <wsdl:message name="WSBorrarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:WSBorrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="WSselect_ClinicaSoapIn">
    <wsdl:part name="parameters" element="tns:WSselect_Clinica" />
  </wsdl:message>
  <wsdl:message name="WSselect_ClinicaSoapOut">
    <wsdl:part name="parameters" element="tns:WSselect_ClinicaResponse" />
  </wsdl:message>
  <wsdl:message name="WSinsert_ClinicaSoapIn">
    <wsdl:part name="parameters" element="tns:WSinsert_Clinica" />
  </wsdl:message>
  <wsdl:message name="WSinsert_ClinicaSoapOut">
    <wsdl:part name="parameters" element="tns:WSinsert_ClinicaResponse" />
  </wsdl:message>
  <wsdl:message name="WSBorrar_ClinicaSoapIn">
    <wsdl:part name="parameters" element="tns:WSBorrar_Clinica" />
  </wsdl:message>
  <wsdl:message name="WSBorrar_ClinicaSoapOut">
    <wsdl:part name="parameters" element="tns:WSBorrar_ClinicaResponse" />
  </wsdl:message>
  <wsdl:message name="WSActualizar_ClinicaSoapIn">
    <wsdl:part name="parameters" element="tns:WSActualizar_Clinica" />
  </wsdl:message>
  <wsdl:message name="WSActualizar_ClinicaSoapOut">
    <wsdl:part name="parameters" element="tns:WSActualizar_ClinicaResponse" />
  </wsdl:message>
  <wsdl:message name="WSBuscar_Clinica_IDSoapIn">
    <wsdl:part name="parameters" element="tns:WSBuscar_Clinica_ID" />
  </wsdl:message>
  <wsdl:message name="WSBuscar_Clinica_IDSoapOut">
    <wsdl:part name="parameters" element="tns:WSBuscar_Clinica_IDResponse" />
  </wsdl:message>
  <wsdl:message name="WSBuscar_Clinica_ID_NombreSoapIn">
    <wsdl:part name="parameters" element="tns:WSBuscar_Clinica_ID_Nombre" />
  </wsdl:message>
  <wsdl:message name="WSBuscar_Clinica_ID_NombreSoapOut">
    <wsdl:part name="parameters" element="tns:WSBuscar_Clinica_ID_NombreResponse" />
  </wsdl:message>
  <wsdl:message name="WSselectEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:WSselectEmpleado" />
  </wsdl:message>
  <wsdl:message name="WSselectEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:WSselectEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="WSinsertEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:WSinsertEmpleado" />
  </wsdl:message>
  <wsdl:message name="WSinsertEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:WSinsertEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="WSBorrarEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:WSBorrarEmpleado" />
  </wsdl:message>
  <wsdl:message name="WSBorrarEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:WSBorrarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="WSActualizarEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:WSActualizarEmpleado" />
  </wsdl:message>
  <wsdl:message name="WSActualizarEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:WSActualizarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="WSBuscar_Empleado_IDSoapIn">
    <wsdl:part name="parameters" element="tns:WSBuscar_Empleado_ID" />
  </wsdl:message>
  <wsdl:message name="WSBuscar_Empleado_IDSoapOut">
    <wsdl:part name="parameters" element="tns:WSBuscar_Empleado_IDResponse" />
  </wsdl:message>
  <wsdl:message name="WSBuscar_Empleado_ID_NombreSoapIn">
    <wsdl:part name="parameters" element="tns:WSBuscar_Empleado_ID_Nombre" />
  </wsdl:message>
  <wsdl:message name="WSBuscar_Empleado_ID_NombreSoapOut">
    <wsdl:part name="parameters" element="tns:WSBuscar_Empleado_ID_NombreResponse" />
  </wsdl:message>
  <wsdl:message name="WSselectPacienteSoapIn">
    <wsdl:part name="parameters" element="tns:WSselectPaciente" />
  </wsdl:message>
  <wsdl:message name="WSselectPacienteSoapOut">
    <wsdl:part name="parameters" element="tns:WSselectPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="WSinsertPacienteSoapIn">
    <wsdl:part name="parameters" element="tns:WSinsertPaciente" />
  </wsdl:message>
  <wsdl:message name="WSinsertPacienteSoapOut">
    <wsdl:part name="parameters" element="tns:WSinsertPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="WSselectMedicamentoSoapIn">
    <wsdl:part name="parameters" element="tns:WSselectMedicamento" />
  </wsdl:message>
  <wsdl:message name="WSselectMedicamentoSoapOut">
    <wsdl:part name="parameters" element="tns:WSselectMedicamentoResponse" />
  </wsdl:message>
  <wsdl:message name="WSinsertMedicamentoSoapIn">
    <wsdl:part name="parameters" element="tns:WSinsertMedicamento" />
  </wsdl:message>
  <wsdl:message name="WSinsertMedicamentoSoapOut">
    <wsdl:part name="parameters" element="tns:WSinsertMedicamentoResponse" />
  </wsdl:message>
  <wsdl:message name="WSselectEnfermedadSoapIn">
    <wsdl:part name="parameters" element="tns:WSselectEnfermedad" />
  </wsdl:message>
  <wsdl:message name="WSselectEnfermedadSoapOut">
    <wsdl:part name="parameters" element="tns:WSselectEnfermedadResponse" />
  </wsdl:message>
  <wsdl:message name="WSinsertEnfermedadSoapIn">
    <wsdl:part name="parameters" element="tns:WSinsertEnfermedad" />
  </wsdl:message>
  <wsdl:message name="WSinsertEnfermedadSoapOut">
    <wsdl:part name="parameters" element="tns:WSinsertEnfermedadResponse" />
  </wsdl:message>
  <wsdl:message name="WSinsertAgendarCitaSoapIn">
    <wsdl:part name="parameters" element="tns:WSinsertAgendarCita" />
  </wsdl:message>
  <wsdl:message name="WSinsertAgendarCitaSoapOut">
    <wsdl:part name="parameters" element="tns:WSinsertAgendarCitaResponse" />
  </wsdl:message>
  <wsdl:message name="WSBuscarCitaSoapIn">
    <wsdl:part name="parameters" element="tns:WSBuscarCita" />
  </wsdl:message>
  <wsdl:message name="WSBuscarCitaSoapOut">
    <wsdl:part name="parameters" element="tns:WSBuscarCitaResponse" />
  </wsdl:message>
  <wsdl:message name="WSTerminarConsultaSoapIn">
    <wsdl:part name="parameters" element="tns:WSTerminarConsulta" />
  </wsdl:message>
  <wsdl:message name="WSTerminarConsultaSoapOut">
    <wsdl:part name="parameters" element="tns:WSTerminarConsultaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceBDDSoap">
    <wsdl:operation name="WSselect_Usuario">
      <wsdl:input message="tns:WSselect_UsuarioSoapIn" />
      <wsdl:output message="tns:WSselect_UsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSValidar_Usuario">
      <wsdl:input message="tns:WSValidar_UsuarioSoapIn" />
      <wsdl:output message="tns:WSValidar_UsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Usuario_ID">
      <wsdl:input message="tns:WSBuscar_Usuario_IDSoapIn" />
      <wsdl:output message="tns:WSBuscar_Usuario_IDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Usuario_ID_Nombre">
      <wsdl:input message="tns:WSBuscar_Usuario_ID_NombreSoapIn" />
      <wsdl:output message="tns:WSBuscar_Usuario_ID_NombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSinsert_Usuario">
      <wsdl:input message="tns:WSinsert_UsuarioSoapIn" />
      <wsdl:output message="tns:WSinsert_UsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Usuario">
      <wsdl:input message="tns:Actualizar_UsuarioSoapIn" />
      <wsdl:output message="tns:Actualizar_UsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBorrarUsuario">
      <wsdl:input message="tns:WSBorrarUsuarioSoapIn" />
      <wsdl:output message="tns:WSBorrarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSselect_Clinica">
      <wsdl:input message="tns:WSselect_ClinicaSoapIn" />
      <wsdl:output message="tns:WSselect_ClinicaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSinsert_Clinica">
      <wsdl:input message="tns:WSinsert_ClinicaSoapIn" />
      <wsdl:output message="tns:WSinsert_ClinicaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBorrar_Clinica">
      <wsdl:input message="tns:WSBorrar_ClinicaSoapIn" />
      <wsdl:output message="tns:WSBorrar_ClinicaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSActualizar_Clinica">
      <wsdl:input message="tns:WSActualizar_ClinicaSoapIn" />
      <wsdl:output message="tns:WSActualizar_ClinicaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Clinica_ID">
      <wsdl:input message="tns:WSBuscar_Clinica_IDSoapIn" />
      <wsdl:output message="tns:WSBuscar_Clinica_IDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Clinica_ID_Nombre">
      <wsdl:input message="tns:WSBuscar_Clinica_ID_NombreSoapIn" />
      <wsdl:output message="tns:WSBuscar_Clinica_ID_NombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSselectEmpleado">
      <wsdl:input message="tns:WSselectEmpleadoSoapIn" />
      <wsdl:output message="tns:WSselectEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSinsertEmpleado">
      <wsdl:input message="tns:WSinsertEmpleadoSoapIn" />
      <wsdl:output message="tns:WSinsertEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBorrarEmpleado">
      <wsdl:input message="tns:WSBorrarEmpleadoSoapIn" />
      <wsdl:output message="tns:WSBorrarEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSActualizarEmpleado">
      <wsdl:input message="tns:WSActualizarEmpleadoSoapIn" />
      <wsdl:output message="tns:WSActualizarEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Empleado_ID">
      <wsdl:input message="tns:WSBuscar_Empleado_IDSoapIn" />
      <wsdl:output message="tns:WSBuscar_Empleado_IDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Empleado_ID_Nombre">
      <wsdl:input message="tns:WSBuscar_Empleado_ID_NombreSoapIn" />
      <wsdl:output message="tns:WSBuscar_Empleado_ID_NombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSselectPaciente">
      <wsdl:input message="tns:WSselectPacienteSoapIn" />
      <wsdl:output message="tns:WSselectPacienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSinsertPaciente">
      <wsdl:input message="tns:WSinsertPacienteSoapIn" />
      <wsdl:output message="tns:WSinsertPacienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSselectMedicamento">
      <wsdl:input message="tns:WSselectMedicamentoSoapIn" />
      <wsdl:output message="tns:WSselectMedicamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSinsertMedicamento">
      <wsdl:input message="tns:WSinsertMedicamentoSoapIn" />
      <wsdl:output message="tns:WSinsertMedicamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSselectEnfermedad">
      <wsdl:input message="tns:WSselectEnfermedadSoapIn" />
      <wsdl:output message="tns:WSselectEnfermedadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSinsertEnfermedad">
      <wsdl:input message="tns:WSinsertEnfermedadSoapIn" />
      <wsdl:output message="tns:WSinsertEnfermedadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSinsertAgendarCita">
      <wsdl:input message="tns:WSinsertAgendarCitaSoapIn" />
      <wsdl:output message="tns:WSinsertAgendarCitaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBuscarCita">
      <wsdl:input message="tns:WSBuscarCitaSoapIn" />
      <wsdl:output message="tns:WSBuscarCitaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSTerminarConsulta">
      <wsdl:input message="tns:WSTerminarConsultaSoapIn" />
      <wsdl:output message="tns:WSTerminarConsultaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceBDDSoap" type="tns:WebServiceBDDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSselect_Usuario">
      <soap:operation soapAction="http://tempuri.org/WSselect_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSValidar_Usuario">
      <soap:operation soapAction="http://tempuri.org/WSValidar_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Usuario_ID">
      <soap:operation soapAction="http://tempuri.org/WSBuscar_Usuario_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Usuario_ID_Nombre">
      <soap:operation soapAction="http://tempuri.org/WSBuscar_Usuario_ID_Nombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsert_Usuario">
      <soap:operation soapAction="http://tempuri.org/WSinsert_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Usuario">
      <soap:operation soapAction="http://tempuri.org/Actualizar_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBorrarUsuario">
      <soap:operation soapAction="http://tempuri.org/WSBorrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSselect_Clinica">
      <soap:operation soapAction="http://tempuri.org/WSselect_Clinica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsert_Clinica">
      <soap:operation soapAction="http://tempuri.org/WSinsert_Clinica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBorrar_Clinica">
      <soap:operation soapAction="http://tempuri.org/WSBorrar_Clinica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSActualizar_Clinica">
      <soap:operation soapAction="http://tempuri.org/WSActualizar_Clinica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Clinica_ID">
      <soap:operation soapAction="http://tempuri.org/WSBuscar_Clinica_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Clinica_ID_Nombre">
      <soap:operation soapAction="http://tempuri.org/WSBuscar_Clinica_ID_Nombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSselectEmpleado">
      <soap:operation soapAction="http://tempuri.org/WSselectEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsertEmpleado">
      <soap:operation soapAction="http://tempuri.org/WSinsertEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBorrarEmpleado">
      <soap:operation soapAction="http://tempuri.org/WSBorrarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSActualizarEmpleado">
      <soap:operation soapAction="http://tempuri.org/WSActualizarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Empleado_ID">
      <soap:operation soapAction="http://tempuri.org/WSBuscar_Empleado_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Empleado_ID_Nombre">
      <soap:operation soapAction="http://tempuri.org/WSBuscar_Empleado_ID_Nombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSselectPaciente">
      <soap:operation soapAction="http://tempuri.org/WSselectPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsertPaciente">
      <soap:operation soapAction="http://tempuri.org/WSinsertPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSselectMedicamento">
      <soap:operation soapAction="http://tempuri.org/WSselectMedicamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsertMedicamento">
      <soap:operation soapAction="http://tempuri.org/WSinsertMedicamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSselectEnfermedad">
      <soap:operation soapAction="http://tempuri.org/WSselectEnfermedad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsertEnfermedad">
      <soap:operation soapAction="http://tempuri.org/WSinsertEnfermedad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsertAgendarCita">
      <soap:operation soapAction="http://tempuri.org/WSinsertAgendarCita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscarCita">
      <soap:operation soapAction="http://tempuri.org/WSBuscarCita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSTerminarConsulta">
      <soap:operation soapAction="http://tempuri.org/WSTerminarConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceBDDSoap12" type="tns:WebServiceBDDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSselect_Usuario">
      <soap12:operation soapAction="http://tempuri.org/WSselect_Usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSValidar_Usuario">
      <soap12:operation soapAction="http://tempuri.org/WSValidar_Usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Usuario_ID">
      <soap12:operation soapAction="http://tempuri.org/WSBuscar_Usuario_ID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Usuario_ID_Nombre">
      <soap12:operation soapAction="http://tempuri.org/WSBuscar_Usuario_ID_Nombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsert_Usuario">
      <soap12:operation soapAction="http://tempuri.org/WSinsert_Usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Usuario">
      <soap12:operation soapAction="http://tempuri.org/Actualizar_Usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBorrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/WSBorrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSselect_Clinica">
      <soap12:operation soapAction="http://tempuri.org/WSselect_Clinica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsert_Clinica">
      <soap12:operation soapAction="http://tempuri.org/WSinsert_Clinica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBorrar_Clinica">
      <soap12:operation soapAction="http://tempuri.org/WSBorrar_Clinica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSActualizar_Clinica">
      <soap12:operation soapAction="http://tempuri.org/WSActualizar_Clinica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Clinica_ID">
      <soap12:operation soapAction="http://tempuri.org/WSBuscar_Clinica_ID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Clinica_ID_Nombre">
      <soap12:operation soapAction="http://tempuri.org/WSBuscar_Clinica_ID_Nombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSselectEmpleado">
      <soap12:operation soapAction="http://tempuri.org/WSselectEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsertEmpleado">
      <soap12:operation soapAction="http://tempuri.org/WSinsertEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBorrarEmpleado">
      <soap12:operation soapAction="http://tempuri.org/WSBorrarEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSActualizarEmpleado">
      <soap12:operation soapAction="http://tempuri.org/WSActualizarEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Empleado_ID">
      <soap12:operation soapAction="http://tempuri.org/WSBuscar_Empleado_ID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscar_Empleado_ID_Nombre">
      <soap12:operation soapAction="http://tempuri.org/WSBuscar_Empleado_ID_Nombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSselectPaciente">
      <soap12:operation soapAction="http://tempuri.org/WSselectPaciente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsertPaciente">
      <soap12:operation soapAction="http://tempuri.org/WSinsertPaciente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSselectMedicamento">
      <soap12:operation soapAction="http://tempuri.org/WSselectMedicamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsertMedicamento">
      <soap12:operation soapAction="http://tempuri.org/WSinsertMedicamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSselectEnfermedad">
      <soap12:operation soapAction="http://tempuri.org/WSselectEnfermedad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsertEnfermedad">
      <soap12:operation soapAction="http://tempuri.org/WSinsertEnfermedad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsertAgendarCita">
      <soap12:operation soapAction="http://tempuri.org/WSinsertAgendarCita" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscarCita">
      <soap12:operation soapAction="http://tempuri.org/WSBuscarCita" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSTerminarConsulta">
      <soap12:operation soapAction="http://tempuri.org/WSTerminarConsulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceBDD">
    <wsdl:port name="WebServiceBDDSoap" binding="tns:WebServiceBDDSoap">
      <soap:address location="https://localhost:44314/WebServiceBDD.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceBDDSoap12" binding="tns:WebServiceBDDSoap12">
      <soap12:address location="https://localhost:44314/WebServiceBDD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>