ConsumeServicio/Connected Services/WservicioBDD/WebServiceBDD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WSselect">
        <s:complexType />
      </s:element>
      <s:element name="WSselectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSselectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsertUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_usuario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_clinica" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_nac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dpi" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="no_telelefono" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsertUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSinsertUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsertClinica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_clinica" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_clinica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="no_telelefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSinsertClinicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSinsertClinicaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Suma">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SumaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Dividir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DividirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DividirResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSselectSoapIn">
    <wsdl:part name="parameters" element="tns:WSselect" />
  </wsdl:message>
  <wsdl:message name="WSselectSoapOut">
    <wsdl:part name="parameters" element="tns:WSselectResponse" />
  </wsdl:message>
  <wsdl:message name="WSinsertUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:WSinsertUsuario" />
  </wsdl:message>
  <wsdl:message name="WSinsertUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:WSinsertUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="WSinsertClinicaSoapIn">
    <wsdl:part name="parameters" element="tns:WSinsertClinica" />
  </wsdl:message>
  <wsdl:message name="WSinsertClinicaSoapOut">
    <wsdl:part name="parameters" element="tns:WSinsertClinicaResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SumaSoapIn">
    <wsdl:part name="parameters" element="tns:Suma" />
  </wsdl:message>
  <wsdl:message name="SumaSoapOut">
    <wsdl:part name="parameters" element="tns:SumaResponse" />
  </wsdl:message>
  <wsdl:message name="DividirSoapIn">
    <wsdl:part name="parameters" element="tns:Dividir" />
  </wsdl:message>
  <wsdl:message name="DividirSoapOut">
    <wsdl:part name="parameters" element="tns:DividirResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceBDDSoap">
    <wsdl:operation name="WSselect">
      <wsdl:input message="tns:WSselectSoapIn" />
      <wsdl:output message="tns:WSselectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSinsertUsuario">
      <wsdl:input message="tns:WSinsertUsuarioSoapIn" />
      <wsdl:output message="tns:WSinsertUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSinsertClinica">
      <wsdl:input message="tns:WSinsertClinicaSoapIn" />
      <wsdl:output message="tns:WSinsertClinicaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Suma">
      <wsdl:input message="tns:SumaSoapIn" />
      <wsdl:output message="tns:SumaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <wsdl:input message="tns:DividirSoapIn" />
      <wsdl:output message="tns:DividirSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceBDDSoap" type="tns:WebServiceBDDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSselect">
      <soap:operation soapAction="http://tempuri.org/WSselect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsertUsuario">
      <soap:operation soapAction="http://tempuri.org/WSinsertUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsertClinica">
      <soap:operation soapAction="http://tempuri.org/WSinsertClinica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Suma">
      <soap:operation soapAction="http://tempuri.org/Suma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <soap:operation soapAction="http://tempuri.org/Dividir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceBDDSoap12" type="tns:WebServiceBDDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSselect">
      <soap12:operation soapAction="http://tempuri.org/WSselect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsertUsuario">
      <soap12:operation soapAction="http://tempuri.org/WSinsertUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSinsertClinica">
      <soap12:operation soapAction="http://tempuri.org/WSinsertClinica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Suma">
      <soap12:operation soapAction="http://tempuri.org/Suma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <soap12:operation soapAction="http://tempuri.org/Dividir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceBDD">
    <wsdl:port name="WebServiceBDDSoap" binding="tns:WebServiceBDDSoap">
      <soap:address location="https://localhost:44314/WebServiceBDD.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceBDDSoap12" binding="tns:WebServiceBDDSoap12">
      <soap12:address location="https://localhost:44314/WebServiceBDD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>